.wrapper-log{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/bg-login.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper-log form{
    width: 450px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2pxx solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transform: translateX(-60%);
}
.wrapper-log h2{
    font-size: 36px;
    text-align: center;
}
.wrapper-log .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.wrapper-log .input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.wrapper-log .input-box input::placeholder{
    color: white;
}
.wrapper-log .input-box svg{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper-log .forgot-pass{
    margin-left: 20px;
}
.wrapper-log .forgot-pass a{
    color: white;
    margin-bottom:10px;
}
.wrapper-log .forgot-pass a:hover{
    text-decoration: underline;
}
.wrapper-log .btn-log{
    width: 100%;
    border: none;
    height: 45px;
    outline: none;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper-log .link-log{
    margin: 15px;
    text-align: center;
}
.wrapper-log .link-log p{
    color: white;
}
.wrapper-log .link-log a{
    color: white;
    font-weight: 600;
    margin-left: 5px;
}
.wrapper-log .link-log a:hover{
    text-decoration: underline;
}
.back-home{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 5px 0;
    color: white;
}
.text-error{
    color: red;
    position: absolute;
    bottom: 0;
    left: 20px;
    transform: translateY(100%);
}