.account{
    display: flex;
    justify-content: start;
    align-items: start;
}
.account-info{
    text-align: center;
    padding: 2em 3em;
    min-width: 350px;
    border-bottom: 2px solid gray;
}
.account-info img{
    width: 200px;
    border-radius: 50%;
}
.account-info button{
    background-color: #C80036;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-weight: bold;
    margin-top: 1em;
    border-radius: .5em;
}
.account-content{
    margin: 2em 0;
    padding: 0 3em;
    border-left: 2px solid gray;
    min-height: 373px;
    width: 100%;
}
.account-menu{
    display: flex;
    align-items: center;
    list-style: none;   
    padding: 0; 
    border-bottom: 2px solid gray;
    padding-bottom: 1em;
}
.account-menu li{
    margin-right: 2em;
    background-color: gray;
    padding: .5em 1em;
    color: white;
    font-weight: bold;
}
.account-menu .active{
    background-color: white;
    color: black;
    border-bottom: 3px solid red;
}
/* favorite */
.account-content .favorites{
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 30px;
    border: none;
}
.card-favorite{
    border: 1px solid gray;
    border-radius: 1em;
    width: 210px;
    height: 300px;
    overflow: hidden;
}
.card-favorite img{
    width: 210px;
    height: 200px;
    object-fit: cover;
    transition: .2s;
}
.card-favorite img:hover{
    transform: scale(105%);
}
.card-favorite .content{
    padding: 0 1em;
    padding-bottom: 1em;
    white-space: nowrap;    
    overflow: hidden;   
    text-overflow: ellipsis;
}
.card-favorite .content .action a{
    border: 1px solid gray;
    color: black;
    padding: .2em 1em;
    border-radius: .5em;
}
.card-favorite .content .action a:hover{
    background-color: #eee;
}
.card-favorite .content .action .del{
    cursor: pointer;
}
.card-favorite .content .action .del:hover{
    color: red;
}
/* order */
.account-content .order-status button{
    margin-right: 1em;
}