.account{
    display: flex;
    gap: 2em;
    margin: 2em;
    margin-top: 100px;
}
.account-info{
    width: 50%;
}
.avatar-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.account-info ul a{
    display: block;
}
.account-info li{
    list-style: none;
    border: 1px solid black;
    padding: .5em 1.5em;
}
.account-content{
    border-left: 2px solid gray;
}
.account-content .title{
    background-color: gray;
    padding: 1em 2.5em;
    color: white;
}