/* .product-detail{
    display: flex;
    padding: 50px 100px;
    gap: 25px;
}
.product-images{
    display: flex;
    gap: 10px;
    width: 60%;
    height: 500px;
    overflow: hidden;
    
}
.product-detail .images{
    width: 20%;
    overflow: auto;
    scroll-behavior: contain;
}
.product-detail .images::-webkit-scrollbar{
    width: 0;
}
.product-detail .main-images{
    width: 80%;
}
.product-detail .images img{
    display: block;
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 5px;
}
.product-detail .main-image img{
    width: 100%;
    height: 500px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 5px;
} */
 .product-detail img{
    cursor: pointer;
 }
 .product-detail{
    display: flex;
    padding: 50px;
    gap: 20px;
 }
 .product-images{
    display: flex;
    background-color: #F9F9E0;
    padding: 20px;
    border: 2px solid black;
    border-radius: 1rem;
    gap: 20px;
    height: max-content;
    width: 65%;
    text-align: center;
    position: relative;
    /* overflow: hidden;
    height: 850px; */
 }
 .product-images .images{
    /* margin: 20px 0; */
    width: 15em;
    overflow: auto;
    scroll-behavior: contain;
 }
 .product-detail .images::-webkit-scrollbar{
    width: 0;
}
 .product-images .images img{
    width: 100%;
    display: block;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 0.5rem;
 }
 .product-detail .up,
 .product-detail .down{
    position: absolute;
    top: 1em;
    left: 4em;
 }
 .product-detail .down{
    top: 370px;
 }
 .product-images .main-image img{
    display: block;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 0.5rem;
 }
 .product-detail img{
    width: 100%;
 }
 .product-detail .product-info{
    width: 30%;
 }
 
 /* /// */
 .product-info .product-color{
    padding: 20px 0;
 }
 .product-info .product-color img{
    width: 80px;
    /* height: 80px; */
    /* border: 1px solid gray; */
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: .5em;
 }
 .active-color{
    outline: 1px solid black !important;
    font-weight: bold;
 }
 .product-size{
    margin-bottom: 20px;
 }
 .product-size span{
    padding: 7px 35px;
    border: 1px solid gray;
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
    border-radius: .5em;
    cursor: pointer;
 }
 .product-action button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #B7B597;
    padding: 1em 2em;
    border-radius: 2em;
    font-weight: bold;
    box-shadow: 0 4px;
    letter-spacing: 1px;
 }
 .product-action button:active{
    box-shadow: none;
    transform: translateY(4%);
}
.product-action .favorite{
    background-color: white;
}
.product-action .active-favorite{
    background-color: #FFD0D0 !important;
}
 .hidden{
    display: none !important;
 }
 .image-carousel{
   display: none;
 }
 /* @media screen and (max-width: 1350px) {
   :root{
       --columns: 3;
   }
} */
@media screen and (max-width: 1024px) {
   .product-detail{
      display: block;
   }
   .product-detail .product-images,
   .product-detail .product-info{
      width: 100%;
   }
   .product-images .images{
      display: none;
   }
   .product-images .main-images{
      width: 100%;
   }
   .image-carousel{
      display: block;
   }
   .product-images{
      display: none;
   }
}
/* @media screen and (max-width: 700px) {
   :root{
       --columns: 1;
   }
} */